body {
    padding-top: 80px;
}

@media (max-width: 979px) {
    body {
        padding-top: 60px;
    }
}

a {
    cursor: pointer;
}

.sidebar {
    position: fixed;
}

.fa {
    color: #0275d8;
}

.footer {
    color: white;
    background-color: #0275d8;
}

.nav-pills > li.active {
    color: white;
    background-color: #0275d8;
    border-radius: 5px;
}

#active-source {
    font-size: 15px;
}